<h3>Crear carpeta</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="name">Nombre de carpeta</label>
      <input type="text" class="form-control" id="nombre" required [(ngModel)]="carpet.nombre" name="nombre">
    </div>

    <button type="submit" class="btn btn-success">Crear</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Creada exitosamente</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>